@import 'variables';

.button{
    border: 1px solid #{$buttons_healthBarColor};
    border-radius: 5px;
    background:  #{$buttons_healthBarColor};
    color: white;
    text-align: center;
    padding: 0 3%;
    display: inline-block;
    line-height: 2em;
    font-weight: 700;

     &:hover{
            background: #{$buttons_HoverColor};
            border-color: #{$buttons_HoverColor};
        }
}

.loadMore{

    margin: 1% 40% 3% 45%;
    font-size: 15px;
}