.gnomeList_gnome{
    background: white;
    margin-bottom: 0.5vh;
    padding:1% 2%;

    &:first-of-type{
        border-radius: 10px 10px 0 0;
    }
    .gnomeList_gnome_div{
        width: 30%;
        display:flex;

    }
    .gnomeList_gnome_div--left{
        float: left;
        justify-content: flex-start;

        .gnomeList_gnome_div_logo{
            width:60px;
            height:60px;
            margin-right: 3%;
        }

        .gnomeList_gnome_info{
            align-self: center;
        }
    }

    .gnomeList_gnome_div--right{
        float: right;
        margin-top:1.5em;

        .gnomeList_gnome_healthBarWrapper{
            height: 10px;
            border: 1px $backgroundColor;
            background: $backgroundColor;
            border-radius:10px;
            width: 100%;
            align-self: center;
            position: relative;

            .gnomeList_gnome_healthBar{
                height: 100%;
                border-radius:10px;
                border:1px solid $buttons_healthBarColor;
                background: $buttons_healthBarColor;
                position: absolute;
                z-index: 2;
            }
            .gnomeList_gnome_healthBar_secondary{
                height: 100%;
                border-radius:10px;
                border:1px solid $secondary_healthBarColor;
                background: $secondary_healthBarColor;
                position: absolute;
                z-index: 1; 
            }
              
        }

         .gnomeList_gnome_strenght{
                font-size: 14px;
                margin-left:5%;
                .gnomeList_gnome_strenght_boldText{
                    font-size: 14px;
                    margin-left:10%;
                }
            }
    }
}