.navbar{

    &:after{
        content:"";
        display: table;
        clear: both;

    }

    .navbar_leftDiv{
        float: left;

        }
    .navbar_rightDiv{
        float: right;
    }



}