$container_width: 1200px;
$backgroundColor: #F9FAFC; 
$secondHealthBarColor: #EDEEF2;
$buttons_healthBarColor: #AF0075; 
$secondary_healthBarColor: #D8A6CB; 
$buttons_HoverColor: gray;  
$spinner_dot1Color: #AF0075;
$spinner_dot2Color: orangered;
