@import 'reset';
@import 'header';
@import 'gnomeList';
@import 'gnomeDisplay';

$container_width: 1200px;


body{
    background: #EDEEF2;
}
.container{
    max-width: $container_width;
    margin: 0 auto;

}

.boldText{
    font-weight: 700;
}

.button{
    border: 1px solid #AF0075;
    border-radius: 5px;
    background: #AF0075;
    color: white;
    text-align: center;
    padding: 0 5%;
    display: inline-block;
    line-height: 2em;
    font-size:15px;
}