@import 'reset';
@import 'header';
@import 'gnomeList';
@import 'gnomeDisplay';

$container_width: 1200px;


body{
    background: #F9FAFC;
}
.container{
    max-width: $container_width;
    margin: 0 auto;

}