@import 'reset';
@import 'variables';
@import 'buttons';
@import 'header';
@import 'gnomeList';
@import 'gnomeDisplay';
@import 'editGnome';
@import 'spinner';


body{
    background: $backgroundColor;
    font-family: 'Work Sans', sans-serif;
}
.container{
    max-width: $container_width;
    margin: 0 auto;

}

.boldText{
    font-weight: 700;
}

